# --- DATABASE ---
DB_USER=postgres
DB_PASSWORD=mysecretpass
DB_NAME=event_db
DB_HOST=localhost # localhost || db
DB_PORT=5432

# --- BACKEND ---
JWT_SECRET=super_secret_key_123
JWT_LIFETIME=30d
PORT=4000
